<h1>Search Results</h1>

<% if @sessions.any? %>
  <% @sessions.each do |session| %>
    <div>
      <p><strong>Subject:</strong> <%= session.subject.name %></p>
      <p><strong>Tutor:</strong> <%= session.tutor.learner.first_name %> <%= session.tutor.learner.last_name %></p>
      <p><strong>Time:</strong> <%= session.start_at.utc.iso8601 %> – <%= session.end_at.utc.iso8601 %></p>

      <% start_str = session.start_at.utc.strftime('%Y-%m-%dT%H:%M:%SZ') %>
      <% end_str = session.end_at.utc.strftime('%Y-%m-%dT%H:%M:%SZ') %>

      <%= button_to "Select #{session.tutor.learner.first_name} #{session.tutor.learner.last_name} #{start_str}-#{end_str}", 
                    confirm_session_path(session), 
                    method: :get %>
    </div>
  <% end %>
<% else %>
  <p>No sessions found</p>
<% end %>
