<h1>Edit Session</h1>

<div>
  <p><strong>Subject:</strong> <%= @session.subject.name %></p>
  <p><strong>Start:</strong> <%= @session.start_at.utc.iso8601 %></p>
  <p><strong>End:</strong> <%= @session.end_at.utc.iso8601 %></p>
  <p><strong>Capacity:</strong> <%= @session.capacity %></p>
  <p><strong>Status:</strong> <%= @session.status %></p>
</div>

<%= form_with model: @session, url: tutor_session_path(@session), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :meeting_link, "Meeting Link" %>
    <%= f.text_field :meeting_link, placeholder: "https://zoom.us/j/123456789" %>
  </div>

  <div>
    <%= f.submit "Update", name: "update" %>
    <%= link_to "Cancel", tutor_sessions_path, class: "button" %>
  </div>
<% end %>

