<h1>Session Details</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<p><strong>Subject:</strong> <%= @tutor_session.subject.name %></p>
<p><strong>Start Time:</strong> <%= @tutor_session.start_at %></p>
<p><strong>End Time:</strong> <%= @tutor_session.end_at %></p>
<p><strong>Capacity:</strong> <%= @tutor_session.capacity %></p>
<p><strong>Status:</strong> <%= @tutor_session.status %></p>
