<h1>All Tutors</h1>

<% if params.key?(:subject) && params[:subject].blank? %>
  <div class="alert" role="alert">Please select a subject</div>
<% elsif flash[:alert].present? %>
  <div class="alert" role="alert"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: tutors_path, method: :get, local: true do %>
  <label for="subject">Subject</label>
  <%= select_tag :subject,
        options_for_select([''] + Subject.order(:name).pluck(:name), params[:subject]) %>
  <%= submit_tag 'Search' %>
<% end %>

<hr />

<ul class="tutor-list">
  <% @tutors.each do |t| %>
    <% full_name = [t.learner&.first_name, t.learner&.last_name].compact.join(' ') %>
    <li class="tutor">
      <%= link_to(full_name.presence || 'Tutor', tutor_path(t)) %>
    </li>
  <% end %>
</ul>