<% full_name = [@tutor.learner&.first_name, @tutor.learner&.last_name].compact.join(' ') %>

<h1><%= full_name.presence || 'Tutor' %></h1>

<% if @tutor.bio.present? || @tutor.bio.blank? || @tutor.rating_avg.present? || @tutor.rating_count.present? %>
  <h2>Details</h2>
  <ul class="tutor-details">
    <% if @tutor.bio.present? %>
      <li><strong>Bio:</strong> <%= @tutor.bio %></li>
    <% else %>
      <li>No bio has been provided.</li>
    <% end %>
    <% if @tutor.rating_avg.present? %>
      <li><strong>Rating:</strong> <%= @tutor.rating_avg %></li>
    <% end %>
    <% if @tutor.rating_count.present? %>
      <li><strong>Rating count:</strong> <%= @tutor.rating_count %></li>
    <% end %>
  </ul>
<% end %>

<% subjects =
     if @tutor.respond_to?(:subjects)
       @tutor.subjects
     else
       Teach.where(tutor_id: @tutor.id).includes(:subject).map(&:subject)
     end %>

<% if subjects.present? %>
  <h2>Subjects</h2>
  <ul>
    <% subjects.each do |s| %>
      <li><%= s.name %></li>
    <% end %>
  </ul>
<% end %>