<h1>Home</h1>
<% if flash[:notice] %><p><%= flash[:notice] %></p><% end %>
<% if flash[:alert]  %><p><%= flash[:alert]  %></p><% end %>
<% if current_admin %>
  <p>Signed in as Admin: <%= current_admin.email %></p>
  <p><%= link_to 'Add New Subject', new_subject_path %></p>
<% elsif current_learner %>
  <p>Signed in as Learner: <%= current_learner.email %></p>
  <p><%= link_to 'View Tutors', tutors_path %></p>
  <p><%= link_to 'Find a Session', search_sessions_path %></p>
  <p><%= link_to 'View My Sessions', learner_sessions_path %></p>
  <% if current_tutor %>
    <p><%= link_to 'View My Sessions (Tutor)', tutor_sessions_path %></p>
    <p><%= link_to 'Update my Profile', edit_tutor_path(current_tutor) %></p>
  <% end %>

<% if defined?(@tutor_application_status) %>
  <% case @tutor_application_status %>
  <% when :none %>
      <%= link_to 'Apply to be a Tutor', new_tutor_application_path %>
  <% when :pending %>
    <p>Pending</p>
  <% when :approved %>
    <%= button_tag "Book A Session", type: "button" %>
  <% end %>
<% end %>

<% else %>
  <p>You are not signed in.</p>
<% end %>
<% if current_admin || current_learner %>
  <%= button_to 'Log out', logout_path, method: :delete %>
<% else %>
  <p><%= link_to 'Log in', new_login_path %></p>
  <p><%= link_to 'Sign up', new_learner_path %></p>
<% end %>