<h1>New Subject</h1>

<% if @subject && @subject.errors.any? %>
  <div id="errors">
    <ul>
      <% @subject.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @subject, url: subjects_path, local: true do |f| %>
  <div>
    <%= f.label :name, 'Name' %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :code, 'Code' %>
    <%= f.text_field :code %>
  </div>

  <%= f.submit 'Create Subject' %>
<% end %>

<% if notice.present? %><p><%= notice %></p><% end %>